################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/StarWarsAzureFunctions/.vs/StarWarsAzureFunctions/v16
